@media screen and (max-width: 375px) {
  main {
    max-width: 100vw;
    padding: 1.6rem 1.6rem !important;
  }
  .input {
    margin-right: 1ch !important;
  }
  .input input {
    width: 6ch !important;
  }
  .display {
    font-size: 5.6rem !important;
  }
  form {
    display: block !important;
    position: relative;
    padding-bottom: 6.4rem !important;
  }
  form button {
    transform: scale(0.75);
    position: absolute !important;
    top: 13rem !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 1440px;
}

body {
  background-color: hsl(0, 0%, 94%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2.4rem;
  border-bottom-right-radius: 16.8rem !important;
  padding: 1.6rem 4.8rem;
}
main > * {
  padding: 3.2rem 0;
}

form {
  display: flex;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
form button {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  top: 5.6em;
  background-color: hsl(259, 100%, 65%);
  border: 1px solid transparent;
  cursor: pointer;
}

#inputs {
  display: flex;
}

.input {
  display: flex;
  flex-direction: column;
  margin-right: 2.4rem;
}
.input label {
  letter-spacing: 0.5ch;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: hsl(0, 1%, 44%);
  margin-bottom: 1ch;
}
.input input {
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 0.25ch;
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 7ch;
  padding: 0.5ch;
}

.input:last-of-type {
  margin-right: 10ch;
}

.display {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -2px;
  line-height: 8.6rem;
}
.display span {
  color: hsl(259, 100%, 65%);
}

.digits {
  display: flex;
}
.digits :nth-child(2) {
  margin-right: 0.25ch;
}

.digit-1 {
  transition: all 1.2s ease-out;
}

.digit-2 {
  transition: all 0.55s ease-out;
}

.digit-3 {
  transition: all 2s ease-out;
}

.digit-4 {
  transition: all 1.75s ease-out;
}

.digit-5 {
  transition: all 1.68s ease-out;
}

.digit-6 {
  transition: all 2.4s ease-out;
}

.move-1 {
  transform: translateY(-8.64rem);
}

.move-2 {
  transform: translateY(-17.2rem);
}

.move-3 {
  transform: translateY(-25.76rem);
}

.move-4 {
  transform: translateY(-34.32rem);
}

.move-5 {
  transform: translateY(-42.96rem);
}

.move-6 {
  transform: translateY(-51.6rem);
}

.move-7 {
  transform: translateY(-60.24rem);
}

.move-8 {
  transform: translateY(-68.8rem);
}

.move-9 {
  transform: translateY(-77.44rem);
}

.digit-container {
  display: flex;
  width: 1ch;
  height: 8.6rem;
  overflow: hidden;
}

.input.invalid {
  position: relative;
}
.input.invalid label {
  color: hsl(0, 100%, 67%);
}
.input.invalid input {
  border-color: hsl(0, 100%, 67%);
}

.input.invalid:first-of-type::after {
  width: 210px;
  position: absolute;
  left: 0;
  bottom: -2ch;
  letter-spacing: 0;
  color: hsl(0, 100%, 67%);
  font-family: "Poppins", sans-serif;
  content: "Must be a valid month.";
}

.input.invalid:nth-of-type(2)::after {
  width: 210px;
  position: absolute;
  left: 0;
  bottom: -2ch;
  letter-spacing: 0;
  color: hsl(0, 100%, 67%);
  font-family: "Poppins", sans-serif;
  content: "Must be a valid day.";
}

.input.invalid:last-of-type::after {
  width: 210px;
  position: absolute;
  left: 0;
  bottom: -2ch;
  letter-spacing: 0;
  color: hsl(0, 100%, 67%);
  font-family: "Poppins", sans-serif;
  content: "Must be a valid year.";
}

/*# sourceMappingURL=style.css.map */
